<div id="data">
<ul>
{% if user_list %}
	{% for user in user_list %}
		<li>{{ user.username }}: {{ user.tags }}</li>
		<ul>
			{% for commit in user.commits %}
				{% if not commit.reviewed %}
					<li>{{ commit.time }}<a href="{{ commit.url }}"> {{  commit.commit_msg }}</a> <form action="/markreviewed" method="post"><input type="submit" name="mark" value="mark as reviewed"><input type="hidden" name="shahash" value="{{ commit.sha }}"></form></li>
				{% endif %}
			{% endfor %}
		</ul>
	{% endfor %}
{% endif %}
</ul>
</div>